<h3>Client page</h3>
<p>Name: <%= @client.name %></p>
<p>Phone: <%= @client.phone %></p>
<p>Date and time: <%= @client.datestamp %></p>
<p>Barber: <%= @client.barber %></p>
<p>Color: <%= @client.color %></p>